<div class='bg-primary text-white text-center mb-3 p-2'>
<%= link_to root_path, class: 'text-decoration-none text-white' do %>
    <h1 class="display-4">Blog do Caio Sant</h1>
<% end %>

<p class="lead">Aqui você encontra um pouco dos meus conhecimentos sobre RoR</p>
</div>